name: DAST - Homolog (OWASP ZAP)

on:
  workflow_dispatch:

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.11.0
        with:
          target: https://qa1.scielo.br
          rules_file_name: zap-rules.tsv
          fail_on_warning: false
          allow_issue_writing: false
          skip_artifacts: true

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: report_html.html
